*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
#thanhtimkiem{
    padding-top: 2%;
    background-color: rgb(240, 202, 100);

    width: 100%;
    padding-bottom: 20px;
}
#textTimkiem{
    margin-left: 20%;
    width: 40%;
    height: 35px;
    border-radius: 8px;
}
#btnTimkiem{
    text-decoration: none;
    color:rgb(245, 105, 12);
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 10px;
}
#btnTimkiem:hover{
    background-color: rgb(223, 238, 9);
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
    border: 1px solid #ddd;
}

.dssp{
    clear: both;
    display: block;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
}
._1sanpham{
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(240, 202, 100);
    padding-bottom: 10px;
    margin: 1%;
    text-align: center;
}
._1sanpham:nth-child(5n){
    margin-left: 0;
}

a{
    display: block;
    overflow: hidden;
    height: 100%;
    background: #fff;
    cursor: pointer;
    text-decoration: none;
}
.dssp ._1sanpham a img{
    display: block;
    width: auto;
    height: 180px;
    margin: 20px auto 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dssp ._1sanpham a h3{
    clear: both;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: normal;
}
.dssp ._1sanpham a h6{
    margin: 5px 10px 0;
    font-size: 12px;
    color: #d0021b;
}
.dssp ._1sanpham a span{
    display: block;
    font-size: 12px;
    color: #797979;
    margin: 0 9px;
    clear: both;
    padding: 0;
    margin: 5px 10px 0;
}

.pagination {
    display: inline-block;
    margin-top: 20%;
    margin-bottom: 5%;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
  
.pagination a.active {
    background-color: rgb(240, 202, 100);
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}